body{
    color: #3A3D42;
    font-family: 'Nunito Sans';
}

.title-wallet{
    font-style: normal;
    font-weight: 700;
    font-size: 1.813em;
    line-height: 2.5em;
    color: #6379F4;
}

.wrap-header{
    align-items: center;
    background-color: #ffffff;
    height: 140px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.wrap-profile{
    max-height: 55px
}

.img-home-prof{
    max-height: 55px;
}

.name-profile{
    font-style: normal;
    font-weight: 700!important;
    font-size: 1.125rem!important;
    line-height: 1.938em!important;
    margin-bottom: 0px;
    color: #3A3D42;
}

.num-profile{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #3A3D42;
    margin-bottom: 0px;
}

.wrap-section{
    color: #3A3D42;
    height: 100%;
}

.wrap-dashboard{
    color: #3A3D42CC;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
    border-radius: 25px;
    background-color: #ffffff;
    height: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.wrap-log-out{
    margin-bottom: 0px;
}

.wrap-right-el{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.fw9-form{
    color: #A9A9A9CC!important;
    background: unset!important;
    border: unset!important;
    border-bottom: 1.5px solid #A9A9A9CC!important;
    border-radius: unset!important;
    -webkit-border-radius: unset!important;
    -moz-border-radius: unset!important;
    -ms-border-radius: unset!important;
    -o-border-radius: unset!important;
}

.fw9-form:focus{
    box-shadow: unset!important;
    outline: none;
    border-color: unset;
}

.wrap-footer{
    color: #EFEFEF;
    padding: 20px 0px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.wrap-footer p{
    margin-bottom: 0px;
}

.wrap-end{
    background: #6379F4;
    height: auto;
}

.wrap-receiver{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.wrap-manage{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #6379F4;
}

.wrap-button{
    color: #FFFFFF!important;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
}

.wrap-button:hover{
    color: #EFEFEF !important;
    background: #8c9bee;
}

.fw9-border-pin{
    border: 1px solid #3A3D42;
    padding: 0.3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.fw9-form{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    height: 65px!important;
    color: #3A3D42;
    width: 57px;
    background: unset;
    border-bottom: 1.5px solid #A9A9A966;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
}

.wrapper-pin{
    text-align: center;
}

.wrap-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
}

.wrap-text{
    margin-bottom: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #7A7886;
}

.wrap-height{
    height: 800px;
}

.wrap-nav-dashboard:hover{
    color: #6379F4;
}

a {
    color: #3A3D42CC!important;
    text-decoration: unset !important;
}

@media (max-width: 767.98px) {
    .wrap-nav-dashboard{
        font-size: 16px;
    }

    .wrap-info h1 {
        margin-bottom: 0px;
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.438rem;
    }

    .wrap-topup {
        padding: 0.813rem;
        width: 5.125rem;
        height: 3.563rem;
        background: rgba(255, 255, 255, 0.2);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
    }

    .wrap-transfer {
        padding: 0.813rem;
        width: 5.125rem;
        height: 3.563rem;
        background: rgba(255, 255, 255, 0.2);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
    }

    .img-home-prof{
        max-height: 40px;
    }
}