.headers {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 31.5px;
}

.title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 40px;
}

.togle {
    z-index: 3;
    margin-top: 22.5;
    width: 50%;
    justify-content: flex-end;
    display:flex;
    font-size: 18px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
}

.login {
    width: 115px;
    height: 43px;
    border: 5px solid white;
    color: white;
    margin-right: 30px;
    border-radius: 12px;
    text-align: center;
    padding-bottom: 15px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.signup {
    width: 115px;
    height: 43px;
    background-color: white;
    border: 5px solid white;
    color: #6379F4;
    text-align: center;
    padding-bottom: 15px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.tryit{
    margin-left: 75px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    width: 168px;
    height: 52px;
    background-color: #6379F4;
    border: 5px solid white;
    color: white;
    margin-right: 30px;
    border-radius: 12px;
    text-align: center;
    padding-bottom: 15px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}


.main{
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-direction: column;
    position: relative;
    font-family: 'Nunito Sans';
    margin-bottom: 200px;
}

.main2{
    margin-top: 1044px;
    text-align: center;
    height: 759px;
    font-family: 'Nunito Sans';
    background-color: rgba(71, 58, 209, 0.06);
}

.welcome{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
}

.card{
    margin-top: 70px; 
    display:flex; 
    margin-left: 150px; 
    margin-right: 150px;
}

.main3{
    margin-top: 200px;
    text-align: left;
    display: grid;
    row-gap: 50px;
    height: 535px;
    flex-direction: column;
    position: relative;
    font-family: 'Nunito Sans';
    margin-left: 75px;
    margin-right: 75px;
}

.main4{
    background: rgba(71, 58, 209, 0.06);
}

.point{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #3A3D42;
}

.pPoint{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}

.saying{
    padding: 150px 120px 150px 120px;
    text-align: center;
}

.review{
    padding: 30px 40px 30px 50px;
    margin-left: 20px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.nameRev{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.desc{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}

.footer{
    color: #FFFFFF;
    padding: 80px 150px 80px 150px;
    background-color: #6379F4;
}