body{
    font-family: 'Nunito Sans';
}

.fw9-bg{
    background-image: url(/assets/image/loginBg.png);
    background-size: cover;
}

.fw9-pad{
    padding: 5px 8px;
}

.fw9-title{
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 40px;
}

h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.fw9-h1form{
    font-style: normal!important;
    font-weight: 700!important;
    font-size: 24px!important;
    line-height: 33px!important;
    color: #3A3D42!important;
}

.fw9-text-form{
    font-style: normal!important;
    font-weight: 400!important;
    font-size: 16px!important;
    line-height: 30px!important;
    color: #3A3D4299;
}

.fw9-form{
    border: unset;
    background: unset;
    border-bottom: 1.5px solid #A9A9A966;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
}

.fw9-form:focus{
    box-shadow: unset;
    outline: none;
    border-color: unset;
}

.fw9-button{
    height: 57px;
    margin-top: 5rem;
    border-radius: 12px;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
}

.fw9-auth{
    padding: 3rem;
}